<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Lista de tareas </h1>
        
    </div>

    
</div>


<div id="search-add-wrapper">
    <form style="display: flex;">
        <div id="new-task">
            <div style="flex:6; width:700px">
                <input id="search-area" type='text' name='search-area' placeholder="Buscar tarea">
            </div>
            <div style="flex:6">
                <input id ="search" class="button" type="submit" value='Search'>
            </div>
        </div>
    </form>
   
</div>

<div id="new-task-wrapper" class="card-body">
    <form id="form" style="display: flex;">
        <div id="new-task">
            <div style="flex:6; width:700px">
                <input id="title" type='text' name='title' placeholder="Nueva tarea">
            </div>
            <div style="flex:6">
                <input id="submit" class="button" type="submit" value="Submit">
            </div>
        </div>
    </form>
   
</div>


<!-- Hidden form. Form submits new item positions -->



<div id="tasklist" class="task-items-wrapper">
    
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    
    
    // var reorderForm = document.getElementById("reorderForm");
    // var positionInput = document.getElementById("positionInput");
    var activeItem = null
    var search_item = null
	var list_snapshot = []
    buildList()
    function buildList(){
        var taskList = document.getElementById("tasklist");
        
        if((search_item != null) && (search_item != '')){
            var url = `http://127.0.0.1:8000/api/task/search/${search_item}/`
            search_item = null
        }else{
            var url = 'http://127.0.0.1:8000/api/task/list/'
        }
        

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            
            var list = data
            
            for(var i in list){
                
                try{
					document.getElementById(`data-row-${i}`).remove()
				}catch(err){

				}

                var title = `<span class="title">${list[i].title}</span>`
                var led_completed = `<div class="task-incomplete-icon"></div>`
                if (list[i].completed_task == true){
                    led_completed = `<div class="task-complete-icon"></div>`
					title = `<span class="title" style="text-decoration:line-through;">${list[i].title}</span>`
				}
                
                var item = `
                   
                <div id="data-row-${i}" class="task-wrapper" >
                    <div class="task-title">
                        ${led_completed}
                        <div style="flex:7">
                            ${title}
                        </div>
                    </div>
                    <div style="padding-right: 20px; display: flex;">
                        <div style="flex:1">
							<button class="button edit">Edit </button>
						</div>
						<div style="flex:1">
							<button class="delete-link delete">&#215</button>
						</div>
						
					</div>
                    
                </div>
                `
                taskList.innerHTML += item
            }
            if (list_snapshot.length > list.length){
				for (var i = list.length; i < list_snapshot.length; i++){
					document.getElementById(`data-row-${i}`).remove()
				}
			}

            list_snapshot = list

            for (var i in list){
					var editBtn = document.getElementsByClassName('edit')[i]
					var deleteBtn = document.getElementsByClassName('delete')[i]
					var title_completed = document.getElementsByClassName('title')[i]


					editBtn.addEventListener('click', (function(item){
						return function(){
							editItem(item)
						}
					})(list[i]))


					deleteBtn.addEventListener('click', (function(item){
                        
						return function(){
							deleteItem(item)
						}
					})(list[i]))



					
					title_completed.addEventListener('click', (function(item){
						return function(){
							strikeUnstrike(item)
						}
					})(list[i]))


			}
        })
    }

    var search_task = document.getElementById("search-add-wrapper");
    search_task.addEventListener("submit", function(e){
        e.preventDefault();
        var wordsearch = document.getElementById('search-area').value
        search_item = wordsearch
        console.log(wordsearch);
        buildList()
        
    })

    var form = document.getElementById("new-task-wrapper");
    form.addEventListener("submit", function(e){
        e.preventDefault();
        // console.log("Creando, actualizando")
        var url = 'http://127.0.0.1:8000/api/task/create/'
        if (activeItem != null){
			var url = `http://127.0.0.1:8000/api/task/update/${activeItem.id}/`
			var title = document.getElementById('title').value
            fetch(url,{
                method: 'PUT',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'title':title})
            }).then(function(response){
                activeItem = null
                buildList()
                document.getElementById('form').reset()
                
            })
            activeItem = null   
		}else{
            var title = document.getElementById('title').value
        
            fetch(url,{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'title':title})
            }).then(function(response){
                buildList()
                document.getElementById('form').reset()
            })       
        }

    })

    function editItem(item){
		// console.log('editando..', item)
		activeItem = item
		document.getElementById('title').value = activeItem.title
	}

    function deleteItem(item){
			// console.log('Eliminando')
            var url = `http://127.0.0.1:8000/api/task/delete/${item.id}/`
			fetch(url, {
				method:'DELETE', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				}
			}).then(function(response) {
				buildList()
			})
	}

    function strikeUnstrike(item){
			// console.log('completando tarea..')

			item.completed_task = !item.completed_task
			fetch(`http://127.0.0.1:8000/api/task/update/${item.id}/`, {
				method:'PUT', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'title':item.title, 'completed_task':item.completed_task})
			}).then(function(response) {
				buildList()
			})
	}


</script>